//nav樣式
.aside {
    width: 296px; //固定最小寬
    min-height: 100vh; //高度隨瀏覽器視窗延伸
    position: fixed; //固定在左邊
    font-weight: bold;
}
.nav-item {
    position: relative; //設計active 增加的左邊的線條
}
.nav-link {
    padding: 0px; //消除bs5 nav-link的內舍padding
    display: flex; //對齊icon和text
    span {
        display: block;
    }
    &:hover { //hover效果
        background-color: $gray-600;
        &::before {
            content: "";
            padding-left: 32px;
            border-left: 4px solid #198754;
            position: absolute;
            left: 0;
            width: 4px;
            height: 32px;
        }
    }
}
.nav-item .active::before { //設計active 增加的左邊的線條
    content: "";
    padding-left: 32px;
    border-left: 4px solid #198754;
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
}
//人像大頭貼
.profile-img {     
    img { //固定大頭貼尺寸    
        height: 40px;
        width: 40px;
    }
}
.profile-text {
    line-height: 1.3; //調行高，與圖片齊高            
    span {
        font-size: 14px; //emai字變小
    }
}
// card 按鈕
.button-reply {
    .btn { //btn外觀
        padding: 8px 0;
        height: 35px;
        font-size: 16px;
        font-weight: bold;
    }
    .btn-mark-read {
        width: 157px;
        

    }
    .btn-reply {
        width: 105px;
        color: white;
    }

}