body {
    font-family: 'Lato', 'Roboto Mono', monospace, sans-serif;
    color: $body-color;    
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;    
}
li {
    list-style: none;
}
ol, ul, dl {
    margin: 0;    
}
.container {
    width: 990px;
    padding: 0 30px;
    margin: 0 auto 0 296px;
}
a {
    color: $gray-900;
}
p {
    margin: 0;
}